<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordenes y Productos</title>
</head>
<body>
    <h1>Solicitar productos</h1>
    <form action="" method="post">
        <center><p>Ingresa la información para cada orden de producto</p>
        <label for="id_producto">id producto</label>
        <input type="number" id="id_producto" name="id_producto" placeholder="XXX00000"><br>
        
        <label for="nombre_producto">Nombre producto</label>
        <input type="text" id="nombre_producto" name="nombre_producto" placeholder="producto"><br>

        <label for="cantidad_producto">Cantidad</label>
        <input type="number" id="cantidad_producto" name="cantidad_producto" placeholder="10"><br>

        <input type="submit" value="enviar"></center>
    </form>
    
</body>
</html>