<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Administrador de habitaciones</h1>
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="{% url 'crear-habitaciones' %}">Crear habitación</a>
    <a href="{% url 'actualizar-habitaciones' 1 %}">Actualizar habitación</a>
    <a href="{% url 'eliminar-habitaciones' 1 %}">Eliminar habitación</a>
</body>
</html>