<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p align="left">Módulo Productos</p>
    <a href="{% url 'inicio' %}">Inicio</a>
    <br>
    <h1>Productos y Ordenes</h1>
    <a href="{% url 'new-producto'%}">Crear Productos</a>
    <a href="{% url 'ver-productos'%}">Lista Productos</a>
    <a href="{% url 'edit-productos'%}">Editar Productos</a>
    <a href="{% url 'new-orden'%}">Crear una orden</a>
    <a href="{% url 'ver-ordenes'%}">Lista Ordenes</a>
</body>
</html>