<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p align="left">Módulo Productos</p>
    <center><h2>Listado de productos</h2></center>
    <center><button><a href="{% url 'new-producto' %}">Agregar un nuevo producto</a></button></center>
    <center><table>
        <tr>
            <th>id</th>
            <th>Nombre producto</th>
            <th>Descripcion</th>
            <th>Valor</th>
            <th>Modificar producto</th>
        </tr>
    
    {% for i in productos %}
    <tr>
        <td>{{i.id_producto}}</td>
        <td>{{i.Nombre_pro}}</td>
        <td>{{i.Descripcion_pro}}</td>
        <td>{{i.Valor_pro}}</td>
        <td><button><a href="{% url 'edit-productos' %}">Modificar</a></button></td>
    </tr><br>
        
    {% endfor %}
    </table></center>
    <a href="{% url 'index_pro'%}">Regresar</a>
</body>
</html>