<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Inicio sesión huesped</h1>
    <form action="{% url 'inicio-sesion-hues' %}" method="POST">
        {% csrf_token %}
        <label for="correo_hues">Correo</label>
        <input type="email" id="correo_hues" name="correo_hues" placeholder="ejemplo@gmail.com">

        <label for="contrasena_hues">Contraseña</label>
        <input type="password" name="contrasena_hues" id="contrasena_hues" placeholder="123">

        <input type="submit" value="Iniciar">
    </form>

</body>
</html>