{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido {{ nombre }} {{ apellido_paterno }} {{ rol }}</h1>
    <a href="{% url 'inicio-sesion' %}">Iniciar sesión empleado</a>
    <a href="{% url 'inicio-sesion-hues' %}">Iniciar sesión huesped</a>
    <br>
    <br>
    <a href="{% url 'registrar_empleado' %}">Registrar empleado con cuenta admin</a>
    <a href="{% url 'registrar-huesped' %}">Registrar huesped</a>
    <br>
    <br>
    <a href="{% url 'visualizar-habitaciones' %}">Administrador habitaciones</a>
    <br>
    <a href="{% url 'crear_proveedor' %}">Administrador Proveedor</a>
    <br>
    <br>
    <a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>

</body>
</html>